<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Orders</h6>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-header table-card-header border-0">
          <h3 class=" mb-0">All Orders</h3>
          <button class=" btn btn-primary btn-sm" (click)="openAddTrackingModal()">
            Add Order
          </button>
        </div>

        <div class=" table-responsive table-striped">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>
                <th class=" sort" data-sort="orderNum" scope="col">Order #</th>
                <th class=" sort" data-sort="customerName" scope="col">Name</th>
                <th class=" sort" data-sort="date" scope="col">Date</th>
                <th class=" sort" data-sort="deliveryAddress" scope="col">Address</th>
                <th class=" sort" data-sort="status" scope="col">Status</th>
                <th class=" sort" data-sort="total" scope="col">Total</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>

            <tbody class=" list">
              <tr *ngFor="let order of defaultOrders">
                <td class=" orderNum">{{ order.orderNum }}</td>
                <td class=" customerName">{{ order.customerName }}</td>
                <td class=" date">{{ order.date }}</td>
                <td class=" deliveryAddress">{{ order.deliveryAddress }}</td>
                <td>
                  <div class=" d-flex align-items-center">
                    <span class=" status mr-2">{{ order.status }} </span>
                    <div>
                      <div class=" progress">
                        <progressbar type="info" [value]="60"> </progressbar>
                      </div>
                    </div>
                  </div>
                </td>
                <td class=" total">{{ order.total }}</td>

                <td class=" text-right">
                  <div class="dropdown no-caret" dropdown>
                    <a aria-controls="dropdown-basic" class=" btn btn-sm btn-icon-only text-light dropdown-toggle"
                      dropdownToggle href="javascript:void(0)" role="button">
                      <i class=" fas fa-ellipsis-v"> </i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                      <a href="javascript:void(0)" class="dropdown-item">
                        View Tracking Details
                      </a>

                      <a href="javascript:void(0)" class="dropdown-item">
                        View Order on Etsy
                      </a>

                      <a href="javascript:void(0)" class="dropdown-item">
                        Archive Order
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class=" card-footer py-4">
          <nav aria-label="...">
            <pagination [totalItems]="25" class="justify-content-end mb-0" previousText="&lsaquo;" nextText="&rsaquo;">
            </pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
